body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  margin: 0;
  box-sizing: border-box;

  background: linear-gradient(0deg, #1e2c3d 0, #3e364e);
}

.container {
  margin-top: 40px;
}

.input input {
  background-color: #fff;
  border: unset;
  border-radius: 4px;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 0 0 1px rgba(60, 66, 87, 0.16), 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 0 0 0 transparent;
  font-size: 16px;
  line-height: 28px;
  margin: 20px;
  min-height: 44px;
  outline-color: rgba(84, 105, 212, 0.5);
  padding: 8px 16px;
  width: 200px;
}

.input input[type="submit"] {
  background-color: #5469d4;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px #5469d4, 0 0 0 0 transparent,
    0 0 0 0 transparent, 0 2px 5px 0 rgba(60, 66, 87, 0.08);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.input #searchbox {
  width: 40vw;
  min-width: 200px;
}

.container #results {
  /* background: white; */
  border-radius: 7px;
  padding: 15px;

  overflow-y: auto;
}

.container #results p {
  /* Backround */

  word-wrap: break-word;
  background: beige;
  background: linear-gradient(
    40deg,
    hsla(0, 0%, 100%, 0.2) 0,
    hsla(0, 0%, 100%, 0.3)
  );
  border-radius: 5px;
  border-radius: 3px;
  box-shadow: 0 5px 30px hsla(0, 0%, 100%, 0.1);
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 1em;
  margin: 5px 5px 10px;
  opacity: 1;
  padding: 1.5em 1em;
}

/* Media queries */

@media (max-width: 500px) {
  .input {
    flex-direction: column;
  }

  .input input {
    margin-top: 5px;
    width: 95vw;
  }

  .input #searchbox {
    width: 95vw;
  }
}

/*animations*/

.center {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
